@import '../../sass/colors'

.highlight
    color: $custom-yellow

@mixin gradient-image($percentage-top, $percentage-bottom)
    position: absolute
    content:""
    height:100%
    width:100%
    top:0
    left:0
    background: linear-gradient(180deg, rgba(43, 45, 66, 0) $percentage-top, #2B2D42 $percentage-bottom)

@mixin content-align-center ()
    display: flex
    justify-content: center
    align-items: center 

.contentWrapper
    .contentTop
        background: $text-principal-contrast
        border-left: 2rem solid $custom-yellow
        color: $menu-header

        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        & .text
            padding: 2rem
            & h1
                font-size: 4rem
                margin: 0
            & p
                font-size: 1.5rem
                margin-top: .5rem
            & img
                width: 7rem
                margin-right: 1rem
        & .image img
            width: 20rem
        
    .contentCategories
        & ul
            display: flex
            flex-direction: row
            margin: 0
            padding: 0
            & li
                background: $text-principal-contrast
                list-style: none
                width: calc(100% / 5)
                height: 12rem
                overflow: hidden
                cursor: pointer

                position: relative
                &:after
                   @include gradient-image(50%, 100%)
                &:hover::after
                     background: linear-gradient(180deg, rgba(43, 45, 66, 0) 0%, #2B2D42 100%)
                & img
                    width: 100%
                & .titleImage
                    position: absolute
                    bottom: 2px
                    left: 10px

                    color: $menu-header
                    font-size: 2rem
                    font-weight: bold
                    z-index: 2
                &.moreCategories
                    display: flex
                    justify-content: center
                    align-items: center
                    background: linear-gradient(270deg, #2B2D42 0%, #F7E733 100%)
                    &:hover
                        background: linear-gradient(270deg, #2B2D42 30%, #F7E733 100%)
                    & svg
                        fill: $menu-header
                    &::after
                        background: #ffffff00

    & .restaurantsList
        @include content-align-center
        flex-direction: column
        & h2
            text-align: center
            margin: 1.5rem 0 .5rem 0
            
            color: $text-principal-contrast
            font-size: 2rem

        & .cards
            padding: 1rem
            @include content-align-center
            flex-wrap: wrap
            width: 60rem
            & a
                text-decoration: none
                color: $menu-header
                & .card
                    margin: .5rem
                    width: 14rem
                    height: 27rem
                    overflow: hidden
                    position: relative
                    &:after
                        @include gradient-image(0%, 80%)
                    & img
                        height: 100%
                    & > .contentCard
                        position: absolute
                        bottom: .5rem
                        left: .5rem
                        z-index: 2
                        & p, h4
                            margin: 0
                        & h4
                            font-weight: bold
                            font-size: 1.2rem
                        & .restaurantDeliveryValue
                            margin: .2rem
                            width: 8rem
                            border: dashed 2px $menu-header
                            text-align: center
                            font-size: .8rem
                            padding: .2rem 0
                        & .restaurantReviews
                            color: $custom-yellow
                            font-size: 1.1rem
                            font-weight: bold
                            & svg
                                vertical-align: top