@import '../../sass/colors.sass'

.contentHeader
    background: $custom-full-white
    color: $custom-blue-dark

    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

    .menu
        & > ul
            color: $custom-white
            list-style: none
            display: flex
            & > li a
                text-decoration: none
                color: $custom-blue-dark
                transition: .7s color
                
                display: inline-block
                padding: .7rem 1.5rem
                &:hover
                    color: $custom-blue-dark-contrast
                & svg
                    vertical-align: bottom
                &.shoppingCart
                    background: $custom-blue-dark
                    color: $custom-white
                    padding: .9em 1rem
                    border-radius: 50px

                    position: relative
                    & .notification
                        background: $custom-yellow
                        color: $custom-blue-dark
                        padding: .2rem .5rem
                        border-radius: 50px

                        position: absolute
                        top: 1px
                        right: -12px
                    &:hover
                        background: $custom-blue-dark-contrast
                    &:hover > svg
                        fill: $custom-full-white

            & .searchBar
                background: #2b2d42
                border: solid 2px $custom-blue-dark
                border-radius: 25px
                margin-right: .5rem
                overflow: hidden

                display: flex
                align-items: center
                & input[type="search"]
                    padding: .9rem
                    border: none
                    color: $custom-blue-dark
                    outline: none
                & button
                    background: $custom-blue-dark
                    padding: 0 1rem
                    border: none
                    cursor: pointer
                    & svg
                        fill: $custom-white                            
                &:hover, &:hover > button
                    background: $custom-blue-dark-contrast
                &:hover > button > svg
                    fill: $custom-full-white