@import '../../sass/colors.sass'

.contentHeader
    background: $menu-header
    color: $text-principal-contrast

    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

    .menu
        & > ul
            color: $custom-white
            list-style: none
            display: flex
            & > li a
                text-decoration: none
                color: $text-principal-contrast
                transition: .7s color
                
                display: inline-block
                padding: .7rem 1.5rem
                &:hover
                    color: $text-principal-contrast-2
                & svg
                    vertical-align: bottom
                &.shoppingCart
                    background: $text-principal-contrast
                    color: $menu-header
                    padding: .9em 1rem
                    border-radius: 50px

                    position: relative
                    & .notification
                        background: $custom-yellow
                        color: $text-principal-contrast
                        padding: .2rem .5rem
                        border-radius: 50px

                        position: absolute
                        top: 1px
                        right: -12px